* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: url(SecretIgloo.jpg) no-repeat center center/cover;
    width: 100vw;
    position: relative;
    height: 100vh;
}

.logo > img {
    height: 150px;
    margin-bottom: 50px;
}

.signUpText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #7EB6AE;
    margin-bottom: 50px;
}

.content {
    display: flex;
    justify-content: center;
}

.userData {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
    margin: 0 350px;
}

.userData input {
    color: #1f8390;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    border-radius: 50px;
    font-size: large;
    height: 50px;
    background-color: #E5F8F5;
    border: 1px solid #9EE4D9;
}


input[type="text"]:focus {
    background-color: transparent;
}

input[type="email"]:focus {
    background-color: transparent;
}
input[type="tel"]:focus {
    background-color: transparent;
}

input[type="password"]:focus {
    background-color: transparent;
}

::placeholder {
    color: #161E1E;
    padding-left: 5px;
}