* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative; 
    font-family: sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(SecretIgloo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}

.logo > img {
    height: 150px;
    margin-bottom: 50px;
}

.signUpText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #7EB6AE;
    margin-bottom: 50px;
}

.content {
    display: flex;
    justify-content: center;
}

.userData {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
    margin: 0 350px;
}

.userData input {
    color: #2eb1ce;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    border-radius: 50px;
    font-size: large;
    height: 50px;
    background-color: #E5F8F5;
    border: 1px solid #9EE4D9;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    color: greenyellow;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    background-color: transparent;
}

input[type="text"]:invalid:focus,
input[type="email"]:invalid:focus,
input[type="tel"]:invalid:focus,
input[type="password"]:invalid:focus {
    color: red;
    border: none;
    outline: 2px solid red;
}

input[type="text"]:valid:focus,
input[type="email"]:valid:focus,
input[type="tel"]:valid:focus,
input[type="password"]:valid:focus {
    color: rgb(80, 242, 91);
    border: none;
    outline: 2px solid rgb(80, 242, 91);
}

::placeholder {
    padding-left: 5px;
    color: #14386e;
}

.formName,
.formSurname,
.formEmail,
.formPhoneNumber,
.password{
    position: relative;
}

.formName,
.formSurname,
.formEmail,
.formPhoneNumber,
.password {
    position: relative;
}

.formName [data-help]::after,
.formSurname [data-help]::after,
.formEmail [data-help]::after,
.formPhoneNumber [data-help]::after,
.password [data-help]::after {
    content: attr(data-help);
    position: absolute;
    display: none;
    left: 85px;
    padding: 5px;
    font-size: small;
    border-radius: 3px;
    color: white;
    background-color: rgb(34, 184, 211);
}

.formName:hover [data-help]::after,
.formSurname:hover [data-help]::after,
.formEmail:hover [data-help]::after,
.formPhoneNumber:hover [data-help]::after,
.password:hover [data-help]::after {
    display: block;
}

@-webkit-keyframes silo-help {
    0% {
        opacity: 0;
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes silo-help {
    0% {
        opacity: 0;
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes silo-help {
    0% {
        opacity: 0;
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes tooltip-animation {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.formName [data-help]::after,
.formSurname [data-help]::after,
.formEmail [data-help]::after,
.formPhoneNumber [data-help]::after,
.password [data-help]::after {
    animation: tooltip-animation 0.5 2s forwards;
}

.formSignUp input:focus:invalid + label:after {
    content: attr(data-help);
    animation: silo-help 100s;
}

.submit {
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    background-color: #c9eff7;
}

.submit:hover {
    color: #0acbf6;
    background-color: #b4eaf5;
}

.submit:active {
    color: yellow;
    background-color: rgb(38, 177, 182);
}

@media all and (max-width: 500px) {
    .userData {
        margin: 0;
    }
}

@media all and (max-width: 920px) {
    .userData {
        margin: 0;
    }
}

@media all and (max-width: 1290px) {
    .userData {
        margin: 0;
    }
}

@media all and (max-width: 290px) {
    .signUpText {
        font-size: 30px;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
    height: 40px;
    width: 200px;
}
}